<section class="about">
    <div class="about-content">
      <div class="menu">
        <ul>
          <a href="/about/company"><li>О компании</li></a>
          <a href="/about/news"><li>Новости</li></a>
          <a href="#"><li>Фотогалерея</li></a>
        </ul>
      </div>
      <div class="content">
        <div class="way center fs18">
          <a href="/">Главная</a>
          <p class="gray">/ <%= title %></p>
        </div>
        <p class="semi-bold fs24">О компании</p>
        <hr />
        <div class="content-text fs18 gray">
          <p>
            ОАО «Выборг-Монтаж» входит в Группу компаний «Стальконструкция»,
            которая объединяет в себе три организации, давно работающие и
            хорошо зарекомендовавшие себя на строительном рынке России. Это
            строительно-монтажная компания «Стальконструкция» и два завода
            по производству металлоконструкций – ОАО «Выборг-Монтаж».<br /><br />ОАО
            «Выборг-Монтаж» – завод по изготовлению металлоконструкций:<br />
            Адрес: Ленинградская обл., г. Выборг, ул. Восстановительная,
            13;<br /><br />
            Наша фирма была образована в 1991 году на базе предприятия
            «Минмонтажспецстрой» СССР. Фирма имеет собственную
            производственную базу 3,92 га., расположенную по адресу:
            Ленинградская обл., г. Выборг, ул. Восстановительная, 13.
            Уровень профессиональной подготовки персонала и техническое
            оснащение завода позволяет выпускать конструкции любой сложности
            надлежащего качества, а наличие теплого малярного цеха позволяет
            использовать любые красители в любое время года.
            Производительность завода – до 400-500 тонн металлоконструкций в
            месяц.<br /><br />Предприятие выполняет полный комплекс
            изготовления строительных металлоконструкций, который включает в
            себя:<br /><br />
            <ul>
              <li>разработку чертежей КМД;</li>
              <li>изготовление (заготовка м/к, дробеструйная обработка,
                окраска);</li>
              <li>расходные материалы;</li>
              <li>доставку м/проката до базы Поставщика и готовых м/к до объекта
                Заказчика.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section>
  <hr>