<section class="contacts">
  <div class="contacts-content">
    <div class="menu">
      <ul>
        <a href="/about/company"><li>О компании</li></a>
        <a href="/about/news"><li>Новости</li></a>
        <a href="/about/contacts"><li>Контакты</li></a>
        <a href="/about/documents"><li>Документы</li></a>
      </ul>
    </div>
    <div class="content">
      <div class="way center fs18">
        <a href="/">Главная</a>
        <p class="gray">/ <%= title %> / Контакты</p>
      </div>
      <p class="semi-bold fs24">Контакты</p>
      <hr />
      <div>
        <p class="semi-bold">Телефон:</p>
        <p class="gray">+7 (813) 785-97-51</p>
      </div>
      <div>
        <p class="semi-bold">Приём звонков:</p>
        <p class="gray">С 9:00 до 20:00 (Пн-Пт)</p>
      </div>
      <div>
        <p class="semi-bold">Адрес:</p>
        <p class="gray">
          188808, Лен. область, Выборгский р-н, г. Выборг, ул. Промышленная, д.
          14
        </p>
      </div>
      <div>
        <p class="semi-bold">Реквизиты компании:</p>
        <p class="gray">
          ООО "Выборг-Монтаж". Юридический адрес: 188808, Ленинградская область,
          Выборгский район, город Выборг, улица Промышленная, дом 14. ОГРН:
          1154704000780
        </p>
      </div>
    </div>
  </div>
</section>
<hr />
