<div class="menuUser fs20">
  <ul>
    <li class="active"><a href="/admin-panel/users">Документы</a></li>
  </ul>
</div>
<section class="documents">
  <div class="documents-content">
    <h2>Доступные документы</h2>

    <div class="documents-list fs20">
      <% docs.forEach((elem) => { if (elem.fileType === "save") {%>
      <div class="doc">
        <p><%= elem.fileName %></p>
        <a
          class="btn fs20"
          href="/public/uploads/<%= elem.fileType %>/<%= elem.fileName %>"
          download
          >Скачать</a
        >
      </div>
      <% }}) %>
    </div>
  </div>
</section>
