<footer>
  <section class="feedback">
    <div class="feedback-content center">
      <p class="semi-bold fs24">Есть вопросы?</p>
      <p class="gray">Отправьте заявку и мы перезвоним в течении 30 минут.</p>
      <hr />
      <form class="feedback-form center" action="/feedback" method="post">
        <div class="form-up center">
          <input
            type="text"
            class="form-name"
            name="name"
            required
            placeholder="Имя"
          />
          <input
            type="text"
            class="form-number"
            name="number"
            required
            placeholder="Телефон"
          />
          <input
            type="email"
            class="form-email"
            name="email"
            required
            placeholder="Email"
          />
        </div>
        <div class="form-down center">
          <textarea
            name="textarea"
            id=""
            required
            placeholder="Ваше сообщение..."
          ></textarea>
        </div>
        <button class="btn" type="submit">Отправить</button>
      </form>
    </div>
  </section>
  <section class="map">
    <div class="map-content center">
      <p class="semi-bold fs24">Наш адрес</p>
      <p class="gray">Промышленная улица, 14, Выборг, Ленинградская область</p>
      <hr />
      <div style="position: relative; overflow: hidden">
        <a
          href="https://yandex.ru/maps/969/vyborg/?utm_medium=mapframe&utm_source=maps"
          style="color: #eee; font-size: 12px; position: absolute; top: 0px"
          >Выборг</a
        ><a
          href="https://yandex.ru/maps/969/vyborg/house/promyshlennaya_ulitsa_14/ZkEYfgdkT0AOQFhqfXtxdXprYQ==/?from=mapframe&ll=28.804659%2C60.704685&utm_medium=mapframe&utm_source=maps&z=17"
          style="color: #eee; font-size: 12px; position: absolute; top: 14px"
          >Промышленная улица, 14 на карте Выборга — Яндекс Карты</a
        ><iframe
          src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=28.804659%2C60.704685&mode=whatshere&whatshere%5Bpoint%5D=28.804659%2C60.704685&whatshere%5Bzoom%5D=15&z=15"
          frameborder="1"
          allowfullscreen="true"
          style="position: relative"
        ></iframe>
      </div>
    </div>
  </section>

  <p class="center">ООО "Выборг-Монтаж" © 2023 | Все права защищены</p>
</footer>
