<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <title>Продукт</title>
  </head>
  <body>
    <%- include("header") -%>
    <!--  -->
    <% switch (numb) { case "1": %>
    <!--  -->
    <section class="product" style="max-width: 1440px; margin: 20px auto">
      <div class="product-content" style="display: flex">
        <div class="image">
          <img
            style="max-width: 600px; max-height: 600px"
            src="/public/img/Blocks.png"
            alt=""
          />
        </div>
        <div class="textovka" style="margin-top: 160px">
          <p class="semi-bold fs20" style="margin-bottom: 10px">
            Бетонные блоки
          </p>
          <pre>
- Хорошее качество
- Быстрое производство
            </pre
          >
          <a
            href="/"
            class="fs20"
            style="
              display: flex;
              list-style: none;
              text-decoration: none;
              margin-top: 100px;
              color: black;
            "
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              width="40"
              height="40"
              style="margin-top: -7px"
            >
              <path
                d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z"
              />
            </svg>
            <p>Назад</p>
          </a>
        </div>
      </div>
    </section>
    <!--  -->
    <% break; case "2": %>
    <!--  -->
    <section class="product" style="max-width: 1440px; margin: 20px auto">
      <div class="product-content" style="display: flex">
        <div class="image">
          <img
            style="max-width: 600px; max-height: 600px"
            src="/public/img/Zabor.png"
            alt=""
          />
        </div>
        <div class="textovka" style="margin-top: 160px">
          <p class="semi-bold fs20" style="margin-bottom: 10px">Заборы</p>
          <pre>
  - Хорошее качество
  - Быстрое производство
              </pre
          >
          <a
            href="/"
            class="fs20"
            style="
              display: flex;
              list-style: none;
              text-decoration: none;
              margin-top: 100px;
              color: black;
            "
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              width="40"
              height="40"
              style="margin-top: -7px"
            >
              <path
                d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z"
              />
            </svg>
            <p>Назад</p>
          </a>
        </div>
      </div>
    </section>
    <!--  -->
    <% break; case "3": %>
    <!--  -->
    <section class="product" style="max-width: 1440px; margin: 20px auto">
      <div class="product-content" style="display: flex">
        <div class="image">
          <img
            style="max-width: 600px; max-height: 600px"
            src="/public/img/Svai.png"
            alt=""
          />
        </div>
        <div class="textovka" style="margin-top: 160px">
          <p class="semi-bold fs20" style="margin-bottom: 10px">Сваи</p>
          <pre>
    - Хорошее качество
    - Быстрое производство
                </pre
          >
          <a
            href="/"
            class="fs20"
            style="
              display: flex;
              list-style: none;
              text-decoration: none;
              margin-top: 100px;
              color: black;
            "
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              width="40"
              height="40"
              style="margin-top: -7px"
            >
              <path
                d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z"
              />
            </svg>
            <p>Назад</p>
          </a>
        </div>
      </div>
    </section>
    <!--  -->
    <% break; case "4": %>
    <!--  -->
    <section class="product" style="max-width: 1440px; margin: 20px auto">
      <div class="product-content" style="display: flex">
        <div class="image">
          <img
            style="max-width: 600px; max-height: 600px"
            src="/public/img/Pliti.png"
            alt=""
          />
        </div>
        <div class="textovka" style="margin-top: 160px">
          <p class="semi-bold fs20" style="margin-bottom: 10px">
            Плиты перекрытия
          </p>
          <pre>
    - Хорошее качество
    - Быстрое производство
                </pre
          >
          <a
            href="/"
            class="fs20"
            style="
              display: flex;
              list-style: none;
              text-decoration: none;
              margin-top: 100px;
              color: black;
            "
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              width="40"
              height="40"
              style="margin-top: -7px"
            >
              <path
                d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z"
              />
            </svg>
            <p>Назад</p>
          </a>
        </div>
      </div>
    </section>
    <!--  -->
    <% break; case "5": %>
    <!--  -->
    <section class="product" style="max-width: 1440px; margin: 20px auto">
      <div class="product-content" style="display: flex">
        <div class="image">
          <img
            style="max-width: 600px; max-height: 600px"
            src="/public/img/Borduri.png"
            alt=""
          />
        </div>
        <div class="textovka" style="margin-top: 160px">
          <p class="semi-bold fs20" style="margin-bottom: 10px">Бордюры</p>
          <pre>
    - Хорошее качество
    - Быстрое производство
                </pre
          >
          <a
            href="/"
            class="fs20"
            style="
              display: flex;
              list-style: none;
              text-decoration: none;
              margin-top: 100px;
              color: black;
            "
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              width="40"
              height="40"
              style="margin-top: -7px"
            >
              <path
                d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z"
              />
            </svg>
            <p>Назад</p>
          </a>
        </div>
      </div>
    </section>
    <!--  -->
    <% break; case "6": %>
    <!--  -->
    <section class="product" style="max-width: 1440px; margin: 20px auto">
      <div class="product-content" style="display: flex">
        <div class="image">
          <img
            style="max-width: 600px; max-height: 600px"
            src="/public/img/Kolca.png"
            alt=""
          />
        </div>
        <div class="textovka" style="margin-top: 160px">
          <p class="semi-bold fs20" style="margin-bottom: 10px">Кольца</p>
          <pre>
    - Хорошее качество
    - Быстрое производство
                </pre
          >
          <a
            href="/"
            class="fs20"
            style="
              display: flex;
              list-style: none;
              text-decoration: none;
              margin-top: 100px;
              color: black;
            "
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              id="Outline"
              viewBox="0 0 24 24"
              width="40"
              height="40"
              style="margin-top: -7px"
            >
              <path
                d="M19,11H9l3.29-3.29a1,1,0,0,0,0-1.42,1,1,0,0,0-1.41,0l-4.29,4.3A2,2,0,0,0,6,12H6a2,2,0,0,0,.59,1.4l4.29,4.3a1,1,0,1,0,1.41-1.42L9,13H19a1,1,0,0,0,0-2Z"
              />
            </svg>
            <p>Назад</p>
          </a>
        </div>
      </div>
    </section>
    <!--  -->
    <% break; } %>
  </body>
</html>
