<div class="content">
  <img src="/img/no_icon.png" alt="" />
  <div class="content-text">
    <p><%= user.name %> <%= user.seminame %></p>
    <p><%= user.role %></p>
    <p><%= user.time %></p>
  </div>
</div>
