<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main-about.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("./partials/header") -%>
    <main>
      <section class="about">
        <div class="about-content">
          <div class="menu">
            <ul>
              <a href="#"><li>Прайс-Лист</li></a>
              <a href="#"><li>Новости</li></a>
              <a href="#"><li>Фотогалерея</li></a>
            </ul>
          </div>
          <div class="content">
            <div class="way center fs18">
              <a href="/">Главная</a>
              <p class="gray">/ <%= title %></p>
            </div>
            <p class="semi-bold fs24">О компании</p>
            <hr />
            <div class="content-text fs18 gray">
              <p>
                ОАО «Выборг-Монтаж» входит в Группу компаний «Стальконструкция»,
                которая объединяет в себе три организации, давно работающие и
                хорошо зарекомендовавшие себя на строительном рынке России. Это
                строительно-монтажная компания «Стальконструкция» и два завода
                по производству металлоконструкций – ОАО «Выборг-Монтаж».<br /><br />ОАО
                «Выборг-Монтаж» – завод по изготовлению металлоконструкций:<br />
                Адрес: Ленинградская обл., г. Выборг, ул. Восстановительная,
                13;<br /><br />
                Наша фирма была образована в 1991 году на базе предприятия
                «Минмонтажспецстрой» СССР. Фирма имеет собственную
                производственную базу 3,92 га., расположенную по адресу:
                Ленинградская обл., г. Выборг, ул. Восстановительная, 13.
                Уровень профессиональной подготовки персонала и техническое
                оснащение завода позволяет выпускать конструкции любой сложности
                надлежащего качества, а наличие теплого малярного цеха позволяет
                использовать любые красители в любое время года.
                Производительность завода – до 400-500 тонн металлоконструкций в
                месяц.<br /><br />Предприятие выполняет полный комплекс
                изготовления строительных металлоконструкций, который включает в
                себя:<br /><br />
                <ul>
                  <li>разработку чертежей КМД;</li>
                  <li>изготовление (заготовка м/к, дробеструйная обработка,
                    окраска);</li>
                  <li>расходные материалы;</li>
                  <li>доставку м/проката до базы Поставщика и готовых м/к до объекта
                    Заказчика.</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </section>
      <hr>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
