<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main-forUsers.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="icon" href="../public/img/favicon.ico.jpg" type="image/x-icon" /> -->
  </head>
  <body>
    <% if (!locals.user) { %>
    <!--  -->
    <%- include("./partials/404") -%>
    <!--  -->
    <% } else { %>
    <!--  -->
    <%- include("./partials/header") -%>
    <main>
      <section>
        <section class="forUsers">
          <div class="forUsers-content">
            <div class="menu">
              <ul>
                <a href="/forUsers/news"><li>Новости</li></a>
                <a href="/forUsers/documents"><li>Документы</li></a>
                <a href="/forUsers/chat"><li>Чат</li></a>
              </ul>
            </div>
            <%- include("./partials/aboba") -%>
          </div>
        </section>
      </section>
    </main>
    <% } %>
  </body>
</html>
