<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/main-index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("./partials/header") -%>
    <form action="/register" method="post">
      <input
        type="text"
        class="form-control"
        name="user[name]"
        id="inputName"
        placeholder="Username"
      />
      <input
        type="password"
        class="form-control"
        name="user[password]"
        id="inputPass"
        placeholder="password"
      />
      <select name="user[role]" id="">
        <option value="user">user</option>
        <option value="admin">admin</option>
      </select>
      <button type="submit">Зарегестрироваться</button>
    </form>
  </body>
</html>
