<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main-register.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("./partials/header") -%>
    <section class="register">
      <div class="register-content">
        <form class="center" action="/register" method="post">
          <p class="semi-bold fs24">Поле регистрации пользователей</p>
          <hr />
          <label for="inputName">Логин</label>
          <input
            required
            type="text"
            class="form-control"
            name="user[name]"
            id="inputName"
            placeholder="Username"
          />
          <label for="inputPass">Пароль</label>
          <input
            type="password"
            class="form-control"
            name="user[password]"
            id="inputPass"
            placeholder="Password"
            required
          />
          <label for="inputPass">Email</label>
          <input
            type="email"
            class="form-control"
            name="user[email]"
            id="inputPass"
            placeholder="Email"
            required
          />
          <div class="role">
            <label for="role">Роль пользователя:</label>
            <select name="user[role]" id="role">
              <option value="user">user</option>
              <option value="admin">admin</option>
            </select>
          </div>

          <button class="btn" type="submit">Создать</button>
        </form>
      </div>
    </section>
  </body>
</html>
