.show-users,
.news,
.feeds,
.documents {
  position: relative;
  padding: 20px 0 40px 0;
  background-color: #f0f0f0;
  border-radius: 0 10px 10px 10px;
  box-shadow: 0 2px 3px rgb(165, 165, 165);
  z-index: 1;
  max-width: 1440px;
  margin: 40px auto;
}

.menu ul {
  position: relative;
  display: flex;
  list-style: none;
  z-index: 0;
  max-width: 1440px;
  margin: 40px auto -40px auto;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 10px;
  transition: 0.4s;
}

.active {
  /* margin: 4px 0; */
  padding: 4px 0;
  margin-bottom: -5px;
  border-radius: 10px 10px 0 0;
  background-color: #f0f0f0;
  box-shadow: 0 0 3px rgb(165, 165, 165);
  animation: aboba 0.4s;
  transform: translateY(-5px);
}

@keyframes aboba {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

a:hover + .active {
  animation: aboba2 0.4s;
}

@keyframes aboba2 {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes aboba3 {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

.active a {
  color: #00a7cc;
}

.menu a:hover {
  color: #00a7cc;
}
