.feedsss {
  max-width: 1240px;
  margin: auto;
  padding-top: 20px;
}

.first {
  display: flex;
  border: 1px solid gray;
  text-align: center;
  background: #00a7cc;
  box-shadow: 0 0 5px #00a7cc;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.first div {
  width: 100%;
  padding: 20px;
}

.feeds-content {
  display: flex;
  border: 1px solid gray;
  margin-top: -1px;
  transition: all 0.4s;
  box-shadow: 0 1px 5px rgb(212, 212, 212);
  background-color: #ffffff;
}

.feeds-content div {
  width: 100%;
  padding: 10px;
}

.feeds-content:last-child {
  border-radius: 0 0 10px 10px;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.name {
  display: flex;
  max-width: 140px;
  border-right: 1px solid gray;
  justify-content: center;
  align-items: center;
}

.delete {
  display: flex;
  max-width: 80px;
  justify-content: center;
  align-items: center;
  border-left: 1px solid gray;
}

.inf {
  display: flex;
  padding: 0;
}

.inf div {
  padding: 0;
}

.delete a {
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: #00a7cc;
  transition: 0.4s;
}

.delete a:hover {
  background-color: #e0e0e0;
}

.feeds-content:hover {
  transform: scale(1.01);
}
