.contacts {
  margin-bottom: 70px;
}

.contacts-content {
  display: flex;
  margin: auto;
  max-width: 1040px;
  border-top: 1px solid #dbdbdb;
  padding-top: 60px;
}

.menu ul,
.menu a {
  color: #656565;
  text-decoration: none;
  list-style: none;
  white-space: nowrap;
}

.menu li {
  padding: 10px 40px 10px 10px;
  border: 1px solid #dbdbdb;
  margin-top: -1px;
}

.menu li:hover {
  background-color: #f7f7f7;
}

.menu li:first-child {
  border-radius: 4px 4px 0 0;
}

.menu li:last-child {
  border-radius: 0 0 4px 4px;
}

.way {
  margin-bottom: 20px;
}

.way a {
  margin-right: 5px;
  text-decoration: none;
  color: #00a7cc;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 60px;
  width: 100%;
  margin-top: -20px;
}

.content hr {
  margin-left: 8px;
  margin-bottom: 10px;
}

.content div {
  margin-top: 20px;
}

.content div > p:first-child {
  margin-bottom: 8px;
}
