.forUsers-content {
  display: flex;
  margin: auto;
  max-width: 1040px;
  border-top: 1px solid #dbdbdb;
  padding-top: 60px;
}
.menu ul,
.menu a {
  color: #656565;
  text-decoration: none;
  list-style: none;
}

.menu li {
  padding: 10px 40px 10px 10px;
  border: 1px solid #dbdbdb;
  margin-top: -1px;
}

.menu li:hover {
  background-color: #f7f7f7;
}

.menu li:first-child {
  border-radius: 4px 4px 0 0;
}

.menu li:last-child {
  border-radius: 0 0 4px 4px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 60px;
  width: 100%;
}

.content hr {
  margin-left: 8px;
}

.way {
  margin-bottom: 20px;
}

.way a {
  margin-right: 5px;
  text-decoration: none;
  color: #00a7cc;
}

.content-text li {
  margin-left: 60px;
}

.content-text {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

.text-area {
  margin-left: 10px;
  max-width: 1040px;
}

.news-text {
  max-width: 1040px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.who p {
  border-bottom: 1px solid #00a7cc;
}

.news-theme {
  margin: 10px 0;
}

.news-time {
  float: right;
  width: auto;
  margin: 10px 0;
}

.btn {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #00a7cc;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0 1px 5px rgb(165, 165, 165);
}

.formSubmit {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.back {
  position: absolute;
  background-color: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

form {
  position: relative;
  padding: 20px;
  background-color: #ffffff;
  margin: 220px auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  max-height: 800px;
  border: 2px solid #00a7cc;
  border-radius: 10px;
  box-shadow: 0 1px 5px #00a7cc;
}

form label {
  margin-top: 20px;
  color: #656565;
}

form textarea,
input {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 0;
}

.krest {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px 8px 6px 8px;
  background-color: #00a7cc;
  border: none;
  border-radius: 0 10px 0 10px;
}

.content-text {
  position: relative;
}

.krest-news {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 4px 4px 2px 4px;
  background-color: #00a7cc;
  border: none;
  border-radius: 0 10px 0 10px;
}

.krest > svg {
  fill: #ffffff;
}

.krest,
.krest-news > svg {
  fill: #ffffff;
}

.krest:hover {
  background-color: #00809c;
  cursor: pointer;
}

.krest:active {
  background-color: #003e4d;
}
