.register {
  margin: 120px 0;
}
.register-content {
  margin: auto;
  padding: 50px;
  max-width: 300px;
  border: 2px solid #00a7cc;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(212, 212, 212);
}

form {
  flex-direction: column;
}

form p {
  text-align: center;
}

.register .btn {
  position: relative;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #00a7cc;
  border-radius: 10px;
  z-index: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0 1px 5px rgb(165, 165, 165);
}

form input {
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 0;
}

select {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 0 0 10px;
}

.err {
  margin: 10px;
  color: red;
}
