.show-users-content {
  max-width: 1440px;
  margin: auto;
}

.users {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.first {
  display: flex;
  /* width: 100%; */
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  background: #00a7cc;
  box-shadow: 0 0 5px #00a7cc;
  border-radius: 10px 10px 0 0;
  color: #ffffff;
}

.first {
  padding: 10px 0;
}

.users td {
  border: 1px solid gray;
  padding: 10px 20px;
  text-align: center;
  background-color: #ffffff;
}

.first td {
  background: #00a7cc;
  color: #ffffff;
}

.btn {
  /* position: relative; */
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #00a7cc;
  border-radius: 10px;

  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0 1px 5px rgb(165, 165, 165);
}

.show-users td a {
  padding: 5px;
  border-radius: 10px;
  transition: 0.4s;
}

.show-users td a:hover {
  background-color: #e0e0e0;
}

.show-users tr {
  transition: 0.4s;
}

.show-users tr:first-child td {
  padding: 10px 0;
  border: none;
}

.show-users tr:first-child:hover,
.show-users tr:nth-child(2):hover {
  transform: none;
}

.show-users tr:hover {
  transform: scale(1.01);
}

a {
  text-decoration: none;
  color: #00a7cc;
}

.btn a {
  text-decoration: none;
  color: #ffffff;
}

/*  */

.fio {
  display: flex;
}

.fio div {
  display: flex;
  flex-direction: column;
  margin: 0 6px;
  text-align: center;
}

.log-pass {
  display: flex;
}

.log-pass div {
  display: flex;
  flex-direction: column;
  margin: 0 6px;
  text-align: center;
}

.register {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* margin: 120px 0; */
  z-index: 2;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
}

.register-content {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -300px;
  background-color: #ffffff;
  padding: 50px;
  max-width: 1000px;
  border: 2px solid #00a7cc;
  border-radius: 10px;
  box-shadow: 0 1px 5px #00a7cc;
  animation: aboba3 0.6s;
}

form {
  flex-direction: column;
}

form p {
  text-align: center;
}

.register .btn {
  position: relative;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #00a7cc;
  border-radius: 10px;
  z-index: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0 1px 5px rgb(165, 165, 165);
}

form input {
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 0;
}

.show-users-content {
  flex-direction: column;
}

select {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 0 0 10px;
}

.err {
  margin: 10px;
  color: red;
}

.krest {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px 8px 6px 8px;
  background-color: #00a7cc;
  border: none;
  border-radius: 0 10px 0 10px;
}

.krest > svg {
  fill: #ffffff;
}

.krest:hover {
  background-color: #00809c;
  cursor: pointer;
}

.krest:active {
  background-color: #003e4d;
}
