<section class="documents">
  <div class="content">
    <form
      action="/admin-panel/documents/uploadFile"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="file">Выберите файл</label>
      <input required type="file" name="file" id="file" />
      <button type="submit">Загрузить</button>
    </form>
  </div>
</section>
